.set-back-header{

}
.home-main-div {
    /*background-color: red;*/
    box-shadow: 1px 2px 3px #454545;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 80%;
}
.slider-show{
	height: 50%;
    margin-top: 2%;
    width: 85%;
    /*background-image:url('../images/tvBg.png'); */
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
}
.slider-show img{
    display: block;
    height: 250px;
    margin: auto;
    width: 100%;
}
.footer-content{
	background-color: #A09F9F;
}
.footer-sub-div{
	margin-right: auto;
	margin-left: auto;
}
.div-home-sub-div table{
	margin: auto;
	width: 85%;
}
.left-arrow{
	background-image: url("../images/leftarrow.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    display: block;
    height: 64px;
    width: 53px;
}
.right-arrow{
	background-image:url("../images/rightarrow.png"); 
	background-repeat: no-repeat;
    background-size: 60px 60px;
    display: block;
    height: 64px;
    width: 53px;
}
.indicators p{
	margin:auto;
	width: 10%;
}
.next-to-slider div {
    border-top: 1px solid #FFFFFF;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 5%;
    padding: 20px 0 20px;
    display: inline-block;
    text-align: center;
    width: 28%;
    margin-left: 4%;
    margin-right: auto;
}
.under-line{
    box-shadow: 2px 2px 3px #222222;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
}
.intro-div {
    border-radius: 5px 5px 5px 5px;
    border-style: double;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.indicators p a{
    background-image: url("../images/bullet.png");
    background-repeat: no-repeat;
    background-size: 8px 19px;
    background-position: 0px 7px;
    color: transparent;
    margin-left: 11%;
}
.copy-right {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 132px;
}
.contact-sub-div{
    width: 30%;
    margin-right: auto;
    margin-left: 7%;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}
.contact-details{
    color: black;
    font-weight: bold;
    font-style: san-serif;
    line-height: 25px;
}
.contact-us{
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    background-image:url("../images/footer-cols.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: 0 bottom ;
    background-color: transparent;
    padding-bottom: 10px;
    text-shadow: rgba(0,0,0,0.9) 1px 1px 1px;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 140px;
}
.contact-details p{
    display: inline;
    font-weight: normal;
    margin-left: 5%;
}
.hr-contact{
    width:10%;
    margin-left: auto;
    margin-right: auto;
}