<div id="headerSubDiv" class="header-sub-div">
	<div id="comLogo" class="com-logo">
		<a href="#">
			<img src="images/angel.bmp" />
			Company Name
		</a>
	</div>
	<div id="navItems" class="nav-items">
		<ul>
			<li><a href="#">Home</a></li>
			<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Services <img src="images/small_dsc.gif">
				</a>
				<ul class="dropdown-menu item-list">
					<li><a href="#">Item1</a></li>
					<li><a href="#">Item2</a></li>
					<li><a href="#">Item3</a></li>
					<li><a href="#">Item4</a></li>
					<li><a href="#">Item5</a></li>
				</ul>
			</li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
		
	</div>
	<div id="sliderDiv" class="slider"></div>
</div>