<div id="divHomeSub" class="div-home-sub-div">
	
	<div id="sliderShow" class="slider-show">
					<div id="myCarousel" class="carousel slide">  
						<!-- Carousel items -->  
						<div class="carousel-inner">  
							<div class="active item" id="item1">
								<img src="images/birthday.png" alt="HTML5 logo" width="500" height="99" />
							</div>  
							<div class="item" id="item2">
								<img src="images/christmas.png" alt="JS logo" width="500" height="99" />
							</div>  
							<div class="item" id="item3">
								<img src="images/angel.bmp" alt="Schema.org logo" width="500" height="99" />
							</div>  
							  
						</div>  
						<!-- Carousel nav -->  
						<!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
						<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  -->
					</div>  	
				</div>
	<!-- <table>
		<tr>
			<td> -->
				<!-- <a href="#" class="left-arrow" id="leftArrow" data-slide="prev"></a> -->
<!-- 			</td>
			<td>
				
			</td>
			<td> -->
				<!-- <a href="#" class="right-arrow pull-right" id="rightArrow" data-slide="next"></a> -->
			<!-- </td>
		</tr> -->
		<!-- <tr>
			<td>
			</td>
			<td class="indicators">
				<p>
					<a href="#" class="1">1</a>
					<a href="#" class="2">2</a>
					<a href="#" class="3">3</a>
					<a href="#" class="4">4</a>
				</p>
			</td>
			<td>
			</td>
		</tr> -->	
	<!-- </table> -->
	<hr class="under-line"/>
	<!-- <div id="nextToSlider" class="next-to-slider">
		<div id="link1">
			Some content goes here<br>
			Some content goes here<br>
			Some content goes here<br>
			Some content goes here
		</div>
		<div id="link2">
			Some content goes here<br>
			Some content goes here<br>
			Some content goes here<br>
			Some content goes here
		</div>
		<div id="link3">
			Some content goes here<br>
			Some content goes here<br>
			Some content goes here<br>
			Some content goes here
		</div>
	</div> -->
	<div class="intro-div">
		<div class="intro1">introduction1</div>
		<div class="intro3">introduction2</div>
		<div class="intro2">introduction2</div>
		<div class=""></div>
	</div>	
</div>

    

<!-- - See more at: http://www.w3resource.com/twitter-bootstrap/carousel-tutorial.php#sthash.ReTBGb9F.dpuf -->